= link_to '', attachments_path, class: 'icon-arrow-left', title: 'Back'
%center
  %table
    %thead
      %th= 'Select Year'
      %th= 'Select Country'
    %tbody
      %td= select_year(Date.today, start_year: Date.today.prev_year.year, end_year: Date.today.next_year.year)
      %td= select_tag('country', options_for_select(COUNTRIES, @country))
    
    - if can? :edit, HolidayList
      .pull-right
        = link_to '', new_holiday_list_path, class: 'icon-plus add-timesheet-icon', title: 'Add Holiday'

%center#holiday_list
  - unless @holidays.empty?
    = render 'holiday_list', holidays: @holidays

  - else
    %h4 No records found. Please Contact System Admin.
  
