= simple_form_for(@user,:url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.simple_fields_for :employee_detail do |e|
    = e.input :employee_id, label: "Employee Id", disabled: true
    = e.input :location, as: :select, collection: LOCATIONS.sort, label: "Employee Location", prompt: 'Select Location', selected: e.object.try(:location)
    = e.input :designation, as: :select, collection: Designation.all.sort_by(&:name), input_html: {class: 'designations'}, prompt: 'Select Designation', selected: e.object.try(:designation_id), required: true
    = e.input :designation_track, as: :select, collection: EmployeeDetail::DESIGNATION_TRACKS, prompt: 'Select Designation Track', selected: e.object.try(:designation_track), hint: 'This track will be used to show designation hierarchy under assessments.'
    = e.input :assessment_month, collection: (ASSESSMENT_MONTHS), input_html: {class: 'months', multiple: true, style: 'width:240px;', 'data-placeholder': 'Select Assessment Months'}, label: 'Assessment Months', selected: e.object.try(:assessment_month), include_blank: false, hint: 'Only two assessment months allowed.'
    = e.input :assessment_platform, collection: (ASSESSMENT_PLATFORM), prompt: 'Select Assesment Platform', selected: e.object.try(:assessment_platform), required: true
    = e.input :division, as: :select, collection: DIVISION_TYPES.values, input_html: {class: 'divisions'}, prompt: 'Select Division', selected: e.object.try(:division)
    = e.input :description, as: :text, input_html: {class: 'text-description'}
    = e.input :date_of_relieving, input_html: { type: 'date', class: 'date-picker', value: @user.employee_detail.date_of_relieving.try(:strftime, "%Y-%m-%d")}
    = e.input :notification_emails, collection: @emails, input_html: {class: 'notification_emails', multiple: true, style: "width:300px;", "data-placeholder" => "You can add multiple emails"}
    = e.label 'Is Billable'
    .make-switch{ tabindex: 0, 'data-on': 'success', 'data-off': 'warning', 'data-on-label': 'Yes', 'data-off-label': 'No'}
      = e.check_box :is_billable, {}, 'Yes', 'No'
    %br
    %br
    = e.label 'Skip Unassigned Project Timesheet Mail'
    .make-switch{'data-on': 'success', 'data-off': 'warning', 'data-on-label': 'Yes', 'data-off-label': 'No'}
      = e.check_box :skip_unassigned_project_ts_mail, {}, 'Yes', 'No'
    %br
    %br
    = e.label 'Joining Bonus Paid'
    .make-switch{ tabindex: 0, 'data-on': 'success', 'data-off': 'warning', 'data-on-label': 'Yes', 'data-off-label': 'No'}
      = e.check_box :joining_bonus_paid, {}, 'Yes', 'No'
    = e.input :source
  = f.input :project_ids, collection: @projects, input_html: {class: 'project_ids', multiple: true, style: 'width:300px;', tabindex: 0, 'data-placeholder': 'Add projects'}, label: 'Projects', disabled: true
  = f.submit :save, class: "btn controls"
- if @notify_users.present?
  %h4 Current Notification to
  %table.table.table-hover
    %tr
      %th Name
      %th Email
    - @notify_users.each do |n|
      %tr
        %td= n.public_profile.name if n.public_profile
        %td= n.email
%br
#project_list
  - if @current_user_projects.present?
    %h4 Current Projects
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Type
          %th Start Date
          %th End Date
          %th.text_wrap Timesheet Required?
          %th Billable
          %th Allocation
      %tbody
        - @current_user_projects.each do |up|
          %tr
            %td= link_to up.project.name, project_path(up.project)
            %td= up.project.type_of_project
            %td= up.start_date
            %td= up.end_date
            %td.text_wrap= up.time_sheet ? 'Yes' : 'No'
            %td= up.billable ? 'Yes' : 'No'
            %td= up.allocation

  %br
  - if @previous_user_projects.present?
    %h4 Previous Projects
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th.text_wrap Project Status
          %th Type
          %th Start Date
          %th End Date
          %th.text_wrap Timesheet Required?
          %th Billable
          %th Allocation
      %tbody
        - @previous_user_projects.each do |up|
          %tr
            %td= up.project.name
            %td.text-wrap= up.project.is_active ? 'Active' : 'Inactive'
            %td= up.project.type_of_project
            %td= up.start_date
            %td= up.end_date
            %td.text-wrap= up.time_sheet ? 'Yes' : 'No'
            %td= up.billable ? 'Yes' : 'No'
            %td= up.allocation

:javascript
  $(".project_ids").select2();
  $(".designations").select2();
  $('.months').select2();
  $(".notification_emails").select2();