.form-horizontal.row
  %h3
    = @project.name
    .offset4{style: 'float: right;'}
      = render partial: 'layouts/project_menu'
  - if can? :manage, Project
    %div
      %table.table.table-hover.table-striped
        %tr
          %th Project Name
          %td= @project.name
        %tr
          %th Start Date
          %td= @project.start_date
        %tr
          %th End Date
          %td= @project.end_date
        %tr
          %th Invoice Date
          %td= @project.invoice_date
        %tr
          %th URL
          %td= link_to @project.url
        %tr
          %th Project Code
          %td= @project.code
        %tr
          %th Project Description
          %td= @project.description
        %tr
          %th Company
          %td= link_to @project.company.try(:name), @project.company
        %tr
          %th Batch Name
          - if @project.try(:batch_name) == get_wfo_batch_name
            %td
              .label{class: 'danger-red'}
                = @project.try(:batch_name)
          - else
            %td= @project.try(:batch_name) || 'NA'
  %table.table.table-hover.table-stripe
    %tr
      %th Logo
      %td= image_tag @project.logo.try(:url, :thumb)

%div.team-member-list.team-popover
  = render 'users'
